*{
    margin: 0;
    padding: 0;
    font-family:Helvetica ;
}
html { 
    background: url("p4.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

       
            

    .container{
        width: 100%;
        height:  100vh;
        font-family:sans-serif;
       
        color: rgb(255, 255, 255);
        
        align-items: center;
        justify-content: center;
        }
        
        #main{
            width:100%;
            height:100vh;
        }
        #indexpg{
            padding: 0;
            margin: 0;
            text-align: center;
            position: absolute;
            top: 40%;
            left: 50%;
            transform: translatex(-50%);/*,translateY(-50);*/
            color: white;
           padding: 10px;
           
           box-shadow: 5px 10px;
           background-color: rgb(33, 4, 71);
        }
        button {
            --glow-color: rgb(117, 117, 117);
            /*--glow-spread-color: rgba(108, 100, 116, 0.781);*/
           --enhanced-glow-color: rgb(98, 97, 161);
            --btn-color:  rgb(33, 4, 71);
            outline: none;
            border: .1em solid var(--glow-color);
            padding: 1em 3em;
            color: var(--glow-color);
            font-size: 25px;
            font-weight: bold;
            background-color: var(--btn-color);
            border-radius: 1em;
            outline: none;
            box-shadow: 0 0 1em .25em var(--glow-color),
                   0 0 4em 1em var(--glow-spread-color),
                   inset 0 0 .75em .25em var(--glow-color);
            text-shadow: 0 0 .5em var(--glow-color);
            text-align: center;
            position: absolute;
            top: 60%;
            left: 35%;
            transition: all 0.3s;
           }
           
         
           
           button::after {
            pointer-events: none;
            content: "";
            position: absolute;
            top: 120%;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: var(--glow-spread-color);
            filter: blur(2em);
            opacity: .7;
            transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
           }
           
           button:hover {
            color: var(--btn-color);
            background-color: var(--glow-color);
           /* box-shadow: 0 0 1em .25em var(--glow-color),
                   0 0 2em 2em var(--glow-spread-color),
                   inset 0 0 .75em .25em var(--glow-color);*/
           }
           
           button:active {
            box-shadow: 0 0 0.6em .25em var(--glow-color),
                   0 0 2.5em 2em var(--glow-spread-color),
                   inset 0 0 .5em .25em var(--glow-color);
           }
        nav{
            width:100%;
            height:80px;
            background-color:rgb(33, 4, 71);
            line-height: 80px;
            overflow: auto;
           
        }
       
        nav ul{
            float: right;
            margin-right: 30px;
        }
        nav ul li{
            list-style-type: none;
            display: inline-block;
            transition: 0.8s;
        }
        nav ul li:hover{
            background-color:rgb(117, 117, 117);
        }
        nav ul li a{
            text-decoration:rgb(124, 124, 124);
            color: rgb(255, 255, 255);
            padding: 30px;
        }
 #disci{
    width:090%;
    border: 3px solid rgb(37, 4, 90);
    color:white;
    box-sizing: border-box;
    padding: 50px;
    margin-left: 100px;
    margin: 20px;
    position: relative;
    left: 50px;
    background-color: rgb(33, 4, 71);
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }